{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
{% set html %}
  <p class="govuk-notification-banner__heading">
    Elections 
    <p class="ovuk-notification-banner__body">Please vote in our upcoming elections.</p>
    <p class="govuk-notification-banner__body"> 
    <strong>To view the candidates please see the  <a class="govuk-notification-banner__link" href="/blog/2025/07/elections">election blog post </a>.</strong
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}
    </div>
</div>