{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
{% set html %}
  <p class="govuk-notification-banner__heading">
    It is over ... 
    <p class="ovuk-notification-banner__body">Thanks to all those who attended the In-person Cross Government Software Engineering Conference 2025, also thanks to volunteers.</p>
    <p class="govuk-notification-banner__body"> 
    <strong>Especially a big thank you UK GovCamp for the sponsorship <a class="govuk-notification-banner__link" href="https://www.ukgovcamp.com/grants/">from their grant scheme</a>.</strong
  </p>
  <p class="govuk-notification-banner__body"> We will aim to write a blog post soon. </p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}
    </div>
</div>