{% from "../node_modules/govuk-frontend/govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
<div id="cookie-banner-container">
{% set html %}
   <p class="govuk-body">We’d like to use analytics cookies so we can understand how you use the site and make improvements.</p>
{% endset %}

{{ govukCookieBanner({
  ariaLabel: "Cookies on the Cross Government Software Community site",
  attributes:{id:"cookie-banner"},
  messages: [
    {
      headingText: "Cookies on the Cross Government Software Community site",
      html: html,
      actions: [
        {
          text: "Accept analytics cookies",
          type: "button",
          name: "cookies",
          value: "accept"
        },
        {
          text: "Reject analytics cookies",
          type: "button",
          name: "cookies",
          value: "reject"
        },
        {
          text: "View cookies",
          href: "/cookies"
        }
      ]
    }
  ]
    }) 
}}
</div>
<div class="text govuk-visually-hidden theme__cookie-success-message-grey" id="cookie-preference-success">
    <div class="govuk-width-container">
        <div class="govuk-!-padding-top-5  success-message" aria-labelledby="cm_cookie_notification radio-analytics-on-label radio-analytics-off-label" role="alert" tabindex="-1">
            <h3 class="govuk-heading-m">Your cookie settings were saved</h3>
           <a class="govuk-link" href="/">Go to homepage</a></p>
        </div>
    </div>
</div>
<div class="govuk-visually-hidden theme__cookie-success-message-grey" id="accept-all-cookies-success">
        <div class="govuk-width-container">
            <div class="govuk-!-padding-top-5 govuk-!-padding-bottom-7">
                <span class="govuk-body"  >You’ve accepted all cookies. You can <a href="/cookie-preferences">change your cookie settings</a> at any time.</span>
                <span id="cookie-accept-all-success-banner-hide" class="govuk-body u-float-right"><a href="#hide">Hide</a></span>
            </div>
    </div>
</div>