
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Cookies</h2>
        <p class="govuk-body">The UK Cross Government Software Community  site puts small files (known as 'cookies') onto your computer to collect information about how you browse the site.</p>
        <p class="govuk-body">Cookies are used to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>measure how you use the website so it can be updated and improved based on your needs</li>
       </ul>
        <div class="govuk-inset-text">
          <p class="capitalize">The UK Cross Government Software Community  site cookies aren’t used to identify you personally.</p>
        </div>
        <p class="govuk-body">You’ll normally see a message on the site before we store a cookie on your computer.</p>
        <p class="govuk-body">Find out more about 
            <a target='_blank' href="http://www.aboutcookies.org/" class="govuk-link">how to manage cookies.</a>
        </p>
        <h2 class="govuk-heading-l">How cookies are used on the UK Cross Government Software Community  site</h2>
        <p class="govuk-body">There are a number of different types of cookie used in the Cross Government Software Community  site which allow the system to work securely and consistently.
        These are:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Google Analytics cookies</li>
            <li class="capitalize">The UK Cross Government Software Community site cookies</li>
            <li>Third-party cookies</li>
        </ul>
        <h3 class="govuk-heading-m">Google Analytics cookies</h3>
        <p class="govuk-body">We use Google Analytics software to collect information about how you use the Cross Government Software Community  site. We do this to help make sure the site is meeting the needs of its users and to help us make improvements.</p>
        <p class="govuk-body">Google Analytics stores information about:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the pages you visit on the Cross Government Software Community  site</li>
            <li>how long you spend on each page</li>
            <li>how you got to the site</li>
            <li>what you click on while you're visiting the site</li>
            <li>Google does not collect or store your personal information, for example your name or address, so this information can't be used to identify who you are. We don't allow Google to use or share our analytics data.</li>
        </ul>
        <p class="govuk-body">Google Analytics sets the following cookies:</p>
        <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Purpose</th>
      <th scope="col" class="govuk-table__header">Expiry</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">_ga</th>
          <td class="govuk-table__cell">This helps us count how many people visit the service by tracking if the user has visited before</td>
          <td class="govuk-table__cell">2 years</td> 
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">_ga_XXXXX</th>
          <td class="govuk-table__cell">Used to distinguish between users of the service</td>
          <td class="govuk-table__cell">2 years</td>
        </tr>
  </tbody>
</table>
    </div>    
  </div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m capitalize">The UK Cross Government Software Community  site application cookies</h3>
        <p class="govuk-body">The UK Cross Government Software Community  site sets a number of cookies to remember what you have done on the site and what messages you have seen.</p>
        <h4 class="govuk-heading-s">Our cookie message</h4>
        <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Purpose</th>
      <th scope="col" class="govuk-table__header">Expiry</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">cm-user-preferences</th>
         <td class="govuk-table__cell">Stores your cookie preferences and lets us know you’ve set them</td>  
          <td class="govuk-table__cell">1 year</td>
        </tr>
  </tbody>
  </table>
        <p class="govuk-body">You may see a pop-up cookies message when you first visit Cross Government Software Community  site service. We'll store a cookie so that your computer knows you've seen it and knows not to show it again.</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Government services</h3>
        <p class="govuk-body">Most services we link to are run by different government departments, for example HM Revenue and Customs (HMRC) or the Home Office.</p>
        <p class="govuk-body">These services may set additional cookies and, if so, will have their own cookies policy.</p>
        <h4 class="govuk-heading-s">Change your settings</h4>
        <p class="govuk-body">
        You can <a href="/cookie-preferences">change which cookies you're happy for us to use.</a></p>
    </div>
</div>
