{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
  text: "Wednesday 11th February - Inclusive Recruitment SIG catch up - 10:30am - 11:30am - Virtual"
}) }}

