
{% from "../node_modules/govuk-frontend/govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../node_modules/govuk-frontend/govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "../node_modules/govuk-frontend/govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "../node_modules/govuk-frontend/govuk/components/header/macro.njk" import govukHeader %}
{% from "../node_modules/govuk-frontend/govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "../node_modules/govuk-frontend/govuk/components/footer/macro.njk" import govukFooter %}
<!doctype html>

<html lang="en" class="govuk-template">
{% set themeColor = "blue" %}
{% set bodyClasses = "no-js" %}
{% set serviceName = "Cross Government Software Community"%}
{% set containerClasses = "govuk-width-container" %}
<head>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
   <meta name="theme-color" content="{{themeColor}}"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title}}</title>
{% block head %}
  <!--[if !IE 8]><!-->
    <link href="/assets/main.css" rel="stylesheet">
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://frontend.design-system.service.gov.uk/supporting-ie8/#support-internet-explorer-8 #}
  <!--[if IE 8]>
    <link href="/assets/all-ie8.css" rel="stylesheet">
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
{% endblock %}
</head>
<body class="govuk-template__body">
 
 
{% block skipLink %}
  {{ govukSkipLink({
    href: "#main-content",
    text: "Skip to main content"
  }) }}
{% endblock %}
 
{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    containerClasses: "govuk-width-container",
    serviceName: serviceName,
    serviceUrl: "#",
    navigation: [
      {
        href: "/",
        text: "About",
        active: true
      },
      {
        href: "/resources",
        text: "Resources"
      },
      {
          href: "/events",
          text: "Events"
      }
    ]
  }) }}
{% endblock %}
<div class="govuk-width-container govuk-body">
{% block beforeContent %}
  
{% endblock %}
{% block content %}
        <main class="govuk-main-wrapper " id="main-content" role="main">
          {{ heading | safe }}
          {{ content | safe }}
        </main>
{% endblock %}
 </div>
{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://uk-cross-government-software-engineering-community.mailchimpsites.com/",
          text: "Join the mailing list"
        },
        {
          href: "/objectives",
          text: "Objectives"
        },
        {
          href: "/events",
          text: "Events"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script src="/assets/all-min.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}
</body>
</html>
