@import "node_modules/govuk-frontend/govuk/all";
.asterisk {
    color: $govuk-error-colour;
}
div.mce_inline_error{
    color: $govuk-error-colour !important;
    background-color: white !important;
}