@import "node_modules/govuk-frontend/govuk/all";
.govuk-header__logo { display:none;}
.govuk-footer__copyright-logo {display: none;}
.govuk-body, .govuk-body-m {font-family:Arial, Helvetica, sans-serif  !important;}